<template>
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <table id="example1" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example1_info">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="employee in ac" :key="employee.id" v-if="employee.id">
                                        <td>{{ employee.id }}</td>
                                        <td>{{ employee.name }}</td>
                                        <td>
                                            <div v-for="action in all_action">
                                                <input  type="radio" :name="'action' + employee.id"  :value="action" :checked="action == employee.action ? true:action=='present'" @input="hit(employee.id,action)">
                                                {{ action.split('_').join(' ').replace(/\b\w/g, l => l.toUpperCase()) }}
                                                </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button class="btn btn-info btn-lg" @click="SubmitAttendance">Submit Attendance</button>
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</template>
<script>
var _ = require('lodash');
export default {
    name: 'attendance',
    props:['em'],
    data() {
        return {
            actions: [],
            ac:this.$props.em,
            u_employees:'',
            key:'',
            array2: '',
            all_action: ['present','absent','off_day','leave_day','off_day_work'],
            today: moment(new Date()).format("dddd"),
            off_day: '',
            no_off: '',
            off_day_2: '',
            fil_off: '',
            holiday: '',
            update: false,
            date_today: '',
            employees: [],
            attendance: {
                absent_date: []
            },
            absent_employees: [],
            off_check: [],
            off_working: [],
            leave_day:[]


        }
    },
    
    computed: {

    },
    watch: {
        absent_employees: function(ki){
            // console.log(ki)
            
        }
    },
    methods: {
        hit(id,action){
            if (this.actions.find(o => o.id === id)) {
                this.array2 = [this.actions.find(o => o.id === id)];
                this.actions = this.actions.filter(val => !this.array2.includes(val));
                this.actions.push({
                    id : id,
                    action : action,
                });
                // console.log(this.actions);

            } else {
                this.actions.push({
                    id : id,
                    action : action,
                });
                // console.log(this.actions);
            }
            // this.actions.push({
            //     id : id,
            //     action : action,
            // });
            // console.log(this.actions);
        },
        all_employee() {
            axios.get('/all_employee')
                .then(({ data }) => {
                    this.employees = data;
                })
        },
        SubmitAttendance() {
            Swal({
                title: 'Are you sure submit today\'s attendance ?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Submit it!'
            }).then((result) => {
                if (result.value) {
                    axios.post('/attendance', { actions: this.actions })
                        .then(({ data }) => {
                            // console.log(data);
                            Swal(
                                'Success!',
                                'Today\'s Attendance Taken.',
                                'success'
                            );
                            setTimeout(() => {
                                document.location.href = window.location.origin + '/attendance';
                            }, 2000);
                        })
                        .catch(() => {
                            Swal(
                                'Success!',
                                'Wow! All people are present today.',
                                'success'
                            );
                            // 		setTimeout(() => {
                            // 	document.location.href=window.location.origin + '/attendance';
                            // }, 2000);
                        })
                }
            })
        },
        all_attendance() {
            axios.get('/all_attendance')
                .then(({ data }) => {
                    this.date_today = moment(new Date()).format("YYYY-MM-DD")
                    data.map((list) => {
                        let p_action = '';
                        if (list.date == this.date_today) {
                            if (list.present == 1) {
                                p_action = 'present'
                            } else if(list.absent == 1) {
                                p_action = 'absent'
                            } else if(list.off_day == 1) {
                                p_action = 'off_day'
                            } else if(list.leave_day == 1) {
                                p_action = 'leave_day'
                            } else if(list.off_day_work == 1) {
                                p_action = 'off_day_work'
                            }

                            this.absent_employees.push({
                                id: list.employee_id,
                                action: p_action
                            });
                            if (this.absent_employees)
                            this.ac = _.map(this.employees, (item) => {
                                return _.assign(item, _.find(this.absent_employees, function(o) { return o.id == item.id; }));
                            });

                    } else {
                        this.ac = this.employees;
                    }

                        })
                    })
                }
    },
    mounted() {
        this.all_employee();
        this.ac.map((list) => {
                        let p_action = '';
                        if (list.date == this.date_today) {
                            if (list.present == 1) {
                                p_action = 'present'
                            } else if(list.absent == 1) {
                                p_action = 'absent'
                            } else if(list.off_day == 1) {
                                p_action = 'off_day'
                            } else if(list.leave_day == 1) {
                                p_action = 'leave_day'
                            } else if(list.off_day_work == 1) {
                                p_action = 'off_day_work'
                            }

                            this.absent_employees.push({
                                id: list.employee_id,
                                action: p_action
                            });
                            if (this.absent_employees)
                            this.ac = _.map(this.employees, (item) => {
                                return _.assign(item, _.find(this.absent_employees, function(o) { return o.id == item.id; }));
                            });
                    }
                });

    }
}

</script>
<style scoped>
label.btn.btn-default.btn-on.active {
    color: #fff;
    background: #45B6AF;
    border: 0;
}

label.btn.btn-default.btn-on,
label.btn.btn-default.btn-off {
    background: #fff;
    border: none;
    border-radius: 5px;
    transition: .2s;
}

.input-sm {
    font-size: 16px;
}

#status {
    border: 1px solid #ddd;
    border-radius: 5px;
}

label.btn.btn-default.btn-off.active {
    color: #fff;
    background: #F3565D;
    border: 0;
}

.material-switch span {
    font-size: 16px;
    font-weight: bold;
    padding: 0 8%;
    color: #859687;
}

.material-switch>input[type="checkbox"] {
    display: none;
}

.material-switch>label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch>label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
    background: #7bed9f;
}

.material-switch>label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
    background: #2ed573;
}

.material-switch>input[type="checkbox"]:checked+label::before {
    background: inherit;
    opacity: 0.5;
}

.material-switch>input[type="checkbox"]:checked+label::after {
    background: inherit;
    left: 20px;
}
#example1 .leave {
    padding: 5px 0;
}
.disabled a {font-size: 28px;color: red;margin-right: 70px;margin-top: 20px;}

.disabled h2 {
    display: inline-block;
}

</style>
