<template>
	<section class="content">
  <div class="row">
    <div class="col-md-3">
        <form @submit.prevent="addEmployeeExpense">
      <div class="form-group has-feedback">
        <label>Employee Name</label>
      <select v-model="form.employee_id" name="employee_id" class="form-control" :class="{ 'is-invalid': form.errors.has('employee_id') }">
                  <option value="">Select a Employee</option>
                  <option v-for="employee in employees" :value="employee.id">{{ employee.name }}</option>
      </select>
      <has-error :form="form" field="employee_id"></has-error>
      </div>

      <div class="form-group has-feedback">
        <label>Employee Name</label>
      <select v-model="form.expenses_type" name="expenses_type" class="form-control" :class="{ 'is-invalid': form.errors.has('expenses_type') }">
                  <option value="">Select a Type</option>
                   <option value="1">Due Paid</option>
                   <option value="0">Due</option>
      </select>
      <has-error :form="form" field="expenses_type"></has-error>
      </div>

      <div class="form-group has-feedback">
        <label>Expense Amount</label>
      <input v-model="form.expenses_amount" type="text" name="expenses_amount"
        class="form-control" :class="{ 'is-invalid': form.errors.has('expenses_amount') }" placeholder="Expenses Amount">
      <has-error :form="form" field="expenses_amount"></has-error>
      </div>
      <div class="form-group has-feedback">
        <label>Expense Detail</label>

      <textarea v-model="form.expenses_details" name="expenses_details"
        class="form-control" :class="{ 'is-invalid': form.errors.has('expenses_details') }" placeholder="Write some note"></textarea>
      <has-error :form="form" field="expenses_details"></has-error>

      </div>
      
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <!-- /.col -->
        <div class="col-md-8">
          <button type="submit" class="btn btn-primary btn-block btn-flat" v-if="loading"> <i class="fa fa-spinner fa-fw"></i></button>
          <button type="submit" class="btn btn-primary btn-block btn-flat" v-if="!loading">Add Expense</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    </div>
    <div class="col-md-9">
      <div class="box">
        <!-- /.box-header -->
        <div class="box-body">
        	<ul class="timeline timeline-inverse">

            <li class="time-label" v-for="employee_expense in employee_expenses" :key="employee_expense.id">
                        <span class="bg-red" >
                          {{ employee_expense.created_at | myDate }}
                        </span>
                  
                    <i class="fa fa-info bg-blue"></i>

                    <div class="timeline-item">
                      <span class="time"><i class="fa fa-clock-o"></i> {{ employee_expense.created_at | myTime }}</span>

                      <h3 class="timeline-header" v-if="employee_expense.employee">{{ employee_expense.expenses_type }} is given to <a href="#">{{ employee_expense.employee.name }} ( BDT {{ employee_expense.expenses_amount }})</a> 
                      </h3>

                      <div class="timeline-body" v-if="employee_expense.expenses_details">
                        {{ employee_expense.expenses_details }}
                      </div>
                      <div class="timeline-footer">
                        <a  class="btn btn-primary btn-xs"  data-toggle="modal" data-target="#myModal" @click.prevent="EditExpense(employee_expense.employee_id,employee_expense.id)">
                        <span>Edit</span></a>
                        <a class="btn btn-danger btn-xs" @click="deleteExpense(employee_expense.id)">Delete</a>
                      </div>
                    </div>
                  </li>
              </ul>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Expense Detail</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label>Expense Amount</label>
            <input v-model="edit.amount" type="text"
            class="form-control" placeholder="Expenses Amount">
        </div>
        <div class="form-group">
            <label>Expense Type</label>
            <input v-model="edit.name" type="text"
            class="form-control" placeholder="Expenses Type">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" v-if="edit.id" class="btn btn-primary" @click='SaveExpense(edit.id)'>Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</section>
</template>
<script>
	export default {
		name: 'expense',
		data(){
			return {
				loading: false,
				employees: [],
				employee_expenses: [],
				form: new Form({
	                employee_id: '',
	                expenses_type : '',
	                expenses_amount : '',
	                expenses_details : ''
                }),
                edit: {
                    amount: '',
                    name:''
                }
			}
		},
		methods: {
			all_employee(){
				axios.get('/all_employee')
				.then(({data}) => {
					this.employees = data;
				})
			},
            deleteExpense(id){
                Swal({
                  title: 'Are you sure to delete Expense?',
                  text: "You won't be able to revert this!",
                  type: 'warning',
                  showCancelButton: true,
                  confirmButtonColor: '#3085d6',
                  cancelButtonColor: '#d33',
                  confirmButtonText: 'Yes, delete it!'
                }).then((result) => {
                    if (result.value) {
                        this.form.delete(`delete_expense/${id}`).
                        then(({data}) => {
                        Swal(
                            'Success!',
                            data,
                            'success'
                        );
                        this.$Progress.start();
                        this.all_e_expense();
                        this.$Progress.finish();
                    })
                    }
                })
            },
			addEmployeeExpense(){
            	this.loading = true;
				this.form.post('/employee-expense').
				then(({data}) => {
					Swal(
                        'Success!',
                        data,
                        'success'
                    );
                    this.$Progress.start();
	            	this.form.reset();
	            	this.loading = false;
	            	this.all_e_expense();
	            	this.$Progress.finish();
				})
				.catch((err) => {
	            	this.$Progress.fail();
					this.loading = false;
				})
			},
			all_e_expense(){
				axios.get('/all_employee_expense')
				.then(({data}) => {
					this.employee_expenses = data;
					console.log(data);
				})
			},
            EditExpense(id , m_id){
                axios.post(`/all_employee/${id}/${m_id}`)
                .then(({data}) => {
                    $('#myModal').modal('show');

                    this.edit.name =  data.expenses_type;
                    this.edit.amount =  data.expenses_amount;
                    this.edit.id =  data.id;
                })

            },
            SaveExpense(id){
                axios.post(`/save_expense_e/${id}`,this.edit)
                .then(({data}) => {
                    this.all_e_expense();
                    $('#myModal').modal('hide');
                    $('div.fade.in').removeClass('modal-backdrop');
                    Swal('Success!',data,'success');
                    this.edit.name =  '';
                    this.edit.amount =  '';
                    this.edit.id =  '';
                    setTimeout(() => {
                        location.reload();
                    },1000);
                })
            }
		},
		created() {
			this.all_employee()
			this.all_e_expense()
		}
	}
</script>
<style scoped>
	.help-block.invalid-feedback {
	    color: red;
	    font-weight: bold;
	}
	.box{border:none;}
	.bg-red{margin-bottom: 40px;}
	.bg-blue{margin-top: 60px}
</style>