<template>
	<div class="box box-primary">
		<h1>Add New Expense Type</h1>
		<div class="row">
			<div class="col-sm-2"><b>Selcet Expense Type: </b></div>
			<div class="col-sm-7">
				<select v-model="expense_type" class="form-control">
					<option value="">Select</option>
					<option value="1">Vehicle Fuel Cost</option>
					<option value="2">Generator Fuel Cost</option>
					<option value="3">Vehicle Maintainance Cost</option>
					<option value="4">Computer Maintainance Cost</option>
					<option value="5">Furniture Maintainance Cost</option>
					<option value="6">Total Rent</option>
				</select>
			</div>
		</div>
		<br>
		<div class="row" v-if="expense_type==1">
			<div class="col-sm-12">
				<h3>Vehicle Fuel Cost</h3>
				<form method="post" action="">
					<div class="box-body">
						<div class="form-group col-sm-3">
							<label for="name">Vehicle No.</label>
							<input type="text" v-model="vehicle_fuel.vehicle_no" class="form-control" placeholder="Enter Vehicle No.">
						</div>
						<div class="form-group col-sm-3">
							<label for="name">Amount</label>
							<input type="text" name="name" v-model="vehicle_fuel.amount" class="form-control" placeholder="Amount">
						</div>
						
					</div>
				</form>
			</div>
		</div>
		<div class="row" v-if="expense_type==2">
			<div class="col-sm-12">
				<h3>Generator Fuel Cost</h3>
				<form method="post" action="">
					<div class="box-body">
						<div class="form-group col-sm-3">
							<label for="name">Fuel Type </label>
							<input type="text" v-model="generator_fuel.fuel_type" class="form-control" placeholder="Enter Fuel Type">
						</div>
						<div class="form-group col-sm-3">
							<label for="name">Amount</label>
							<input type="text" name="name" v-model="generator_fuel.amount" class="form-control" placeholder="Amount">
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row" v-if="expense_type==3">
			<div class="col-sm-12">
				<h3>Vehicle Maintainance Cost</h3>
				<form method="post" action="">
					<div class="box-body">
						<div class="form-group col-sm-3">
							<label for="name">Vehicle No. </label>

							<select v-model="vehicle_maintainance.vehicle_no" class="form-control">
								<option value="">Select</option>
								<option v-for="vehicle in vehicles" :value="	 vehicle.vehicle_no">{{ vehicle.vehicle_no }}</option>
							</select>
						</div>
						<div class="form-group col-sm-3">
							<label for="name">Purpose </label>
							<input type="text" v-model="vehicle_maintainance.purpose" class="form-control" placeholder="Enter Purpose">
						</div>
						<div class="form-group col-sm-3">
							<label for="name">Amount</label>
							<input type="text" name="name" v-model="vehicle_maintainance.amount" class="form-control" placeholder="Amount">
						</div>
						
					</div>
				</form>
			</div>
		</div>
		<div class="row" v-if="expense_type==4">
			<div class="col-sm-12">
				<h3>Computer Maintainance Cost</h3>
				<form method="post" action="">
					<div class="box-body">
						<div class="form-group col-sm-3">
							<label for="name">Purpose</label>
							<input type="text" v-model="computer_maintainance.purpose" class="form-control" placeholder="Purpose">
						</div>
						<div class="form-group col-sm-3">
							<label for="name">Amount</label>
							<input type="text" name="name" v-model="computer_maintainance.amount" class="form-control" placeholder="Amount">
						</div>
						
					</div>
				</form>
			</div>
		</div>
		<div class="row" v-if="expense_type==5">
			<div class="col-sm-12">
				<h3>Furniture Maintainance Cost</h3>
				<form method="post" action="">
					<div class="box-body">
						<div class="form-group col-sm-3">
							<label for="name">Total Furniture </label>
							<input type="text" v-model="furniture_maintainance.total_furniture" class="form-control" placeholder="Total Furniture">
						</div>
						<div class="form-group col-sm-3">
							<label for="name">Purpose</label>
							<input type="text" v-model="furniture_maintainance.purpose" class="form-control" placeholder="Purpose">
						</div>
						<div class="form-group col-sm-3">
							<label for="name">Amount</label>
							<input type="text" name="name" v-model="furniture_maintainance.amount" class="form-control" placeholder="Amount">
						</div>
						
					</div>
				</form>
			</div>
		</div>
		<div class="row" v-if="expense_type==6">
			<div class="col-sm-12">
				<h3>Total Rent</h3>
				<form method="post" action="">
					<div class="box-body">
						<div class="form-group col-sm-3">
							<label for="name">Purpose</label>
							<input type="text" v-model="total_rent.purpose" class="form-control" placeholder="Purpose">
						</div>
						<div class="form-group col-sm-3">
							<label for="name">Amount</label>
							<input type="text" name="name" v-model="total_rent.amount" class="form-control" placeholder="Amount">
						</div>
						
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="form-group col-sm-3" v-if="expense_type">
					<label for="name">&nbsp;</label>

					<button class="btn btn-info" @click="create(expense_type)">Create</button>
				</div>
			</div>
		</div>
		

	</div>
</template>
<script>
	export default {
		props: ['vehicles'],
		data(){
			return {
				expense_type: '',
				vehicle_fuel: {
					vehicle_no: '',
					amount: '',
				},
				generator_fuel: {
					fuel_type: '',
					amount: '',
				},
				vehicle_maintainance: {
					vehicle_no: '',
					purpose: '',
					amount: '',
				},
				computer_maintainance: {
					purpose: '',
					amount: '',
				},
				furniture_maintainance: {
					total_furniture: '',
					purpose: '',
					amount: '',
				},
				total_rent: {
					purpose: '',
					amount: '',
				},

			}
		},
		methods:{
			create(expense){
				switch(expense) {
				  case "1":
				  if (this.vehicle_fuel['vehicle_no'] && this.vehicle_fuel['amount']) {
				    axios.post('/create-expense-type',{expense: this.vehicle_fuel,expense_type:expense})
				    .then(({data}) => {
				    	if(data.status == 200){
				    		localStorage.setItem('msg', 'Expense Created.');
				    	document.location.href = '/expense-type';
				    }
				    });				  	
				  } else {
				  	alert("Please fill all field !");
				  }
				    break;
				  case "2":
				  if (this.generator_fuel['fuel_type'] && this.generator_fuel['amount']) {
				    axios.post('/create-expense-type',{expense: this.generator_fuel,expense_type:expense})
				    .then(({data}) => {
				    	if(data.status == 200){
				    		localStorage.setItem('msg', 'Expense Created.');
				    	document.location.href = '/expense-type';
				    }
				    });
				    } else {
				  	alert("Please fill all field !");
				  }
				    break;
				  case "3":
				  if (this.vehicle_maintainance['vehicle_no'] && this.vehicle_maintainance['amount'] && this.vehicle_maintainance['purpose']) {
				    axios.post('/create-expense-type',{expense: this.vehicle_maintainance,expense_type:expense})
				    .then(({data}) => {
				    	if(data.status == 200){
				    		localStorage.setItem('msg', 'Expense Created.');
				    	document.location.href = '/expense-type';
				    }
				    });
				    } else {
				  	alert("Please fill all field !");
				  }
				    break;
				    case "4":
				  if (this.computer_maintainance['purpose'] && this.computer_maintainance['amount']) {
				    axios.post('/create-expense-type',{expense: this.computer_maintainance,expense_type:expense})
				    .then(({data}) => {
				    	if(data.status == 200){
				    		localStorage.setItem('msg', 'Expense Created.');
				    	document.location.href = '/expense-type';
				    }
				    });
				    } else {
				  	alert("Please fill all field !");
				  }
				    break;
				    case "5":
				  if (this.furniture_maintainance['purpose'] && this.furniture_maintainance['amount'] && this.furniture_maintainance['total_furniture']) {
				    axios.post('/create-expense-type',{expense: this.furniture_maintainance,expense_type:expense})
				    .then(({data}) => {
				    	if(data.status == 200){
				    		localStorage.setItem('msg', 'Expense Created.');
				    	document.location.href = '/expense-type';
				    }
				    });
				} else {
				  	alert("Please fill all field !");
				  }
				    break;
				  default:
				  if (this.total_rent['purpose'] && this.total_rent['amount']) {
				    axios.post('/create-expense-type',{expense: this.total_rent,expense_type:expense})
				    .then(({data}) => {
				    	if(data.status == 200){
				    		localStorage.setItem('msg', 'Expense Created.');
				    	document.location.href = '/expense-type';
				    }
				    });
				    } else {
				  	alert("Please fill all field !");
				  }
				}
			}
		},
		created(){
			localStorage.clear();
		}
	}
</script>
<style scoped>
	.box.box-primary {
	    padding-left: 25px;
	}
</style>