<template>
<div class="box box-primary">
    <h1>Generate Expense</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-sm-6">
                <label class="control-label">Month: </label>
                <div class="input-group col-md-12">
                    <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                        <select name="month" v-model="selected_month">
                            <option value="">Pick a Month</option>
                            <option :value="number" v-for="(month,number) in all_months">{{ month }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6">
                <label class="control-label">Year: </label>
                <div class="input-group col-md-12">
                    <div class="input-group-addon">
                        <input type="text" v-model="selected_year" class="form-control" name="">
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group col-sm-6">
                    <button class="btn btn-info" @click="generate">Generate</button>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="row">
            <div id="example3_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <table id="example5" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example3_info">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Employee Name</th>
                            <th>Designation</th>
                            <th>Total Present</th>
                            <th>Ta/Da </th>
                            <th>Gross Ta/Da </th>
                            <th>Cash Short </th>
                            <th>Cash Excess </th>
                            <th>Net TADA </th>
                            <th>Pay TADA </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="employee in employees">
                            <td>{{ employee.id }}</td>
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.designation }}</td>
                            <td>{{ this.work = working_period - employee.off_day.count + employee.off_day_work.count - employee.leave_day.count - employee.absent.count }}</td>
                            <td>
                                {{ employee.tada }}
                            </td>
                            <td>
                                {{ work * employee.tada }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>

</template>
<script>
	export default {
		props: ['months'],
		data(){
			return {
				all_months: this.months,
				selected_month: '',
				selected_year: '',
				employees: '',
				working_period: '',
				work:''
			}
		},
		methods:{
			generate(){
				this.working_period = new Date(this.selected_year, this.
					+-selected_month, 0).getDate();
				axios.post('/generate-expense-type',{month: this.selected_month,year: this.selected_year})
				    .then(({data}) => {
				    	this.employees = data.employees; 
				    });	
			}
		},
	}
</script>
<style>
	
</style>