<template>
	<button type="submit" class="btn btn-info">Pay Tada</button>
</template>
<script>
	export default {
		props: ['id'],
		data(){
			return {
				employee_id: this.id
			}
		},
		created(){
			console.log(this.employee_id);
		}
	}
</script>
<style>
	
</style>